html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #001001;
    color: #fff;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

nav {
    padding: 10px;
    position: fixed;
    
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 8px 0px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
}

nav a:hover {
    color: #b5bfcc;
    transtion: color 1s ease;
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    margin:0 20px;
}

.profile-info h1 {
    margin: 0;
    font-size: 48px;
}

.profile h4 {
    margin: 5px 0;
    font-size: 24px;
    opacity: 0.8;
    font-weight: 400;
    letter-spacing: 4px;
}

.profile img {
    width: 144px;
    height: 144px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-description {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background-color: #001001;
    border-radius: 8px;
    overflow: hidden; 
    outline: 1px solid #474747;
}

th, td {
    padding: 15px 20px;
    text-align: left;
    border-bottom: 1px solid #001001;
}

th {
    background-color: #001001;
    color: #b5bfcc;
    font-weight: bold;
    font-size: 18px;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
}

.contact {
    flex: 1;
    margin-right: 20px;
    width: 50%;
}

.social-media {
    flex: 1;
    width: 50%;
}

tr:last-child td {
    border-bottom: none;
}

tr:hover td {
    background-color: #262926;
    transition: background-color 0.3s ease;
}

#contact ul {
    list-style-type: square;
    padding-left: 20px;
}

#contact li {
    margin-bottom: 10px;
}

#contact a {
    color: #b5bfcc;
    text-decoration: none;
    transition: color 0.3s ease;
}

#contact a:hover {
    color: #fff;
}

form {
    background-color: #001001;
    border-radius: 8px;
    border: 1px solid #001001;
}

label {
    display: inline-block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #b5bfcc;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="password"],
textarea {
    width: 100%;
    padding: 12px 15px;
    background-color: #2b2d2b;
    border: 1px solid #001001;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    font-family: inherit;
    box-sizing: border-box;
    margin-bottom: 20px;